.drop-down{
	cursor: pointer;
}

.drop-down-menu[displaying=false]{
	height: 0;
	overflow: hidden;
}

.drop-down-menu[displaying=true]{
	height: auto;
}

.menu-item{
	position: relative;
}

.menu-item[displaying=false]{
	left: 5em;
	opacity: 0;
}

.menu-item[displaying=true]{
	left: 0em;
	opacity: 1;
}