.drop-down{
	cursor: pointer;
	width: 7em;
}

.menu-activator{
	padding: 0.5em;
	width: auto;
	background: grey;
	color: gold;
	font-weight: bold;
}

.drop-down-menu{
}

.drop-down-menu[displaying=false]{
	height: 0;
	overflow: hidden;
}

.drop-down-menu[displaying=true]{
	height: auto;
}

.menu-item{
	position: relative;
	padding: 0.2em;
	background-color: gold;
	margin: 0.1em;
}

.menu-item[displaying=false]{
	left: 5em;
	opacity: 0;
}

.menu-item[displaying=true]{
	left: 0em;
	opacity: 1;
}